h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: lighter;
    color: black;
}

p {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: lighter;
    color: black;
}

body, html {
    background-color: #406ffb;
}

button {
    border: none;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    font-weight: lighter;
    color: black;
    background-color: #406ffb;
}

#jezzatest{
    background-repeat: no-repeat; !important;
}

#container {
    margin: auto;
    width: 60%;
}

/* --------------------------- HEADER INTRO --------------------------- */

#header {
    margin: auto;
    width: 100%;
    text-align: center;
}

#headerText {
    margin-top: 40px;
}

#img-header {
    display: block; /*for the img inside your div */
    margin: 0 auto;
}

/* --------------------------- LOGO HEADER SMALL --------------------------- */

logoHeaderSmall {
    margin: auto;
    width: 100%;
    text-align: center;
}

#imgHeaderSmall {
    display: block; /*for the img inside your div */
    margin: 0 auto;
}

/* --------------------------- BUTTON START GAME --------------------------- */

#buttonStartGame {
    margin: auto;
    width: 100%;
}

.getStarted {
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px;
    margin-top: 30%;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: black;
}

.getStarted:hover {
    transform: translateY(3px);
    box-shadow: 2px 2px;
}

.getStarted:active {
    box-shadow: 1px 1px;
    transform: translateY(4px);
}

/* --------------------------- WOBBLY HEAD --------------------------- */

.wobblyHead {
    position: absolute;
    width: 58vmin;
    height: 58vmin;
    right: 1%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-size: 93% auto;
}


.wobblyHead::after {
    content: '';
    position: absolute;
    width: 43.86%;
    height: 57.57%;
    right: 5%;
    top: 6.6%;
    background-size: contain;
    background-image: url("../img/jeremykylehead.gif");
    background-repeat: no-repeat;
    -webkit-transform-origin: 50% 80%;
    transform-origin: 50% 80%;
    -webkit-animation: wobble .8s infinite ease-in-out;
    animation: wobble .8s infinite ease-in-out;
}

@-webkit-keyframes wobble {
    1% {
        -webkit-transform: rotateZ(0deg) translateX(0);
        transform: rotateZ(0deg) translateX(0);
    }
    40% {
        -webkit-transform: rotateZ(-10deg) translateX(2%);
        transform: rotateZ(-10deg) translateX(2%);
    }
    50% {
        -webkit-transform: rotateZ(-10deg) translateX(4%);
        transform: rotateZ(-10deg) translateX(4%);
    }
    80% {
        -webkit-transform: rotateZ(10deg) translateX(5%);
        transform: rotateZ(10deg) translateX(5%);
    }
    100% {
        -webkit-transform: rotateZ(0deg) translateX(0);
        transform: rotateZ(0deg) translateX(0);
    }
}

/* --------------------------- INTRO --------------------------- */

.intro {
    margin-top: 60px;
}

.opendoor:hover, .nothome:hover, .daftcunt:hover, .givehamster:hover, .ransome:hover, .alreadydead:hover {
    padding-left: 15px;
}

.imgRyan, #imgJemma {
    display: block; /*for the img inside your div */
    margin: 0 auto;
    position: absolute;

}

.imgRyan {
    left: 2%;
    top: 30%;
}

#imgJemma {
right: 20%;
    top: 20%;
}

#dieStupidCunt {
    position: absolute;
    top: 16%;
    left: 135px;
}


/* --------------------------- WALKING HAMSTER --------------------------- */

@keyframes walkinghamster {
    0% {
        left: 10vw;
        transform: scale(1, 1);
    }

    49.8% {
        transform: scale(1, 1);
    }

    50% {
        left: 90vw;
        transform: scale(-1, 1);
    }

    99.8% {
        transform: scale(-1, 1);
    }

    100% {
        left: 10vw;
        transform: scale(1, 1);
    }
}

#walkingHamster {
    background-image: url('http://i795.photobucket.com/albums/yy232/PixKaruumi/Pixels/Pixels%2087/027.gif');
    width: 53px;
    height: 74px;
    position: absolute;
    bottom: 2%;
    background-repeat: no-repeat;
    z-index: 999;
    animation: walkinghamster 45s linear 0s infinite;
}